<h1>JavaScript and Rails</h1>

<ul>
  <li><%= link_to 'Classic Solution', classic_solution_index_path %></li>
  <li><%= link_to 'Controls', controls_index_path %></li>
  <li><%= link_to 'Full Separation', full_separation_index_path %></li>
</ul>